@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end letters */

/* tables */
table{
	border-collapse: collapse;
	margin: 1em auto;
}

td:first-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

tr:not(:last-child) td:nth-child(2){
	text-align: center;
}

td{
	padding: 0 0.5em 0 0;
}
/* end tables */
