@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}
/* end letters */

/* tables */
table{
	margin: 1em auto;
}

td:first-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

tr:nth-child(-n+6) td:nth-child(2){
	text-align: center;
}

td{
	padding: 0 0.5em 0 0;
}
/* end tables */

/* epigraph */
[epub|type~="epigraph"]{
	font-style: italic;
	margin-top: 1em;
}
/* end epigraph */

/* footer dateline */
footer p[epub|type~="se:letter.dateline"]{
	text-align: initial;
	text-indent: 0;
}
/* end footer dateline */

/* center inscriptions */
#chapter-1-15 blockquote,
#chapter-1-20 blockquote,
#chapter-2-26 blockquote{
	text-align: center;
}

#chapter-1-20 blockquote p{
	text-indent: 0;
}
/* end tablet inscription */

/* signature list */
#chapter-2-23 footer p{
	text-align: initial;
}
/* end signature list */

/* list style */
ul{
	list-style-type: none;
}
/* end list style */
